<%- include('partials/header') %>

<div class="container">
    <header class="mb-5 text-center">
        <h1 class="display-4">Dashboard</h1>
    </header>

    <div class="row">
        
    </div>
</div>

<%- include('partials/footer') %>