body {
    background-color: #f5f5dc; /* Un toque beige */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-card {
    transition: transform 0.2s;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.project-card:hover {
    transform: translateY(-5px);
}