name: Node.js CI (Fast Mode)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Instalar dependencias
      run: npm install

    - name: Correr Linter
      run: npm run lint

    - name: Ejecutar Tests de Integración (Jest)
      run: npm test -- --forceExit --detectOpenHandles
      env: 
        ADMIN_USER: ${{ env.ADMIN_USER }}
        ADMIN_PASS: ${{ env.ADMIN_PASS }}
        JWT_SECRET: ${{ env.JWT_SECRET }}
